.card {
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
content {
  background-color: #f5f7fa;
}
.visitor-card {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  border-radius: 12px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  transition: all 0.3s ease;
}

.visitor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

